<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <%- include('partials/header'); -%>
  <head>
    <title>Home</title>
  </head>
  <body>
    
      <!--Main section-->
      <section class="section main-section parallax-scene-js" style="background:url('images/home.jpg') no-repeat center center; background-size:cover;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 col-12">
              <div class="main-decorated-box text-center text-xl-left">
                <div class="decorated-subtitle text-italic text-white wow slideInLeft">Welcome <%= user.email %> !</div>
                <h1 class="text-white text-xl-center wow slideInRight" data-wow-delay=".3s"><span class="align-top offset-top-30 d-inline-block font-weight-light prefix-text">The</span><span class="big font-weight-bold d-inline-flex offset-right-170">Best</span><span class="biggest d-block d-xl-flex font-weight-bold">Solutions.</span></h1>
                <div class="decorated-subtitle text-italic text-white wow slideInLeft">Practice Coding Questions and See Interview Experiences. This website has it all</div>
              </div>
            </div>
            <div class="col-12 text-center offset-top-75" data-wow-delay=".2s"><a class="button-way-point d-inline-block text-center d-inline-flex flex-column justify-content-center" href="#" data-custom-scroll-to="about"><span class="fa-chevron-down"></span></a></div>
          </div>
        </div>
        
      </section>
      <!--About-->
      <section class="section section-sm position-relative" id="about">
        <div class="container">
          <div class="row row-30">
            <div class="col-lg-6">
              <div class="block-decorate-img wow fadeInLeft" data-wow-delay=".2s"><img src="images/coding.jpg" alt="" width="570" height="351"/>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="block-sm offset-top-45">
                <h3 class="wow fadeInLeft text-capitalize devider-bottom" data-wow-delay=".2s">Practice<span class="text-primary"> Coding Questions</span></h3>
                <p class="offset-xl-40 wow fadeInUp" data-wow-delay=".4s">We are happy when our Students are placed... Actually, this is quite simple to achieve - because we provide real interview questions asked by Top recruiters to practice.</p>
                <p class="default-letter-spacing font-weight-bold text-gray-dark wow fadeInUp" data-wow-delay=".3s">We have over fifteen years of successful experience in financial sphere in the Indian business market.</p><a class="button-width-190 button-primary button-circle button-lg button offset-top-30" href="/programming">start practice</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Features-->
      <section class="section custom-section position-relative section-md">
        <div class="container">
          <div class="row">
            <div class="col-xl-7 col-lg-7 col-12">
              <div class="section-name wow fadeInRight">our features</div>
              <h3 class="text-capitalize devider-left wow fadeInLeft" data-wow-delay=".2s">Read past<span class="text-primary"> Interview Experiences</span></h3>
              <p>With over 20 years of experience in preparing Students for interviews, we have a lot to offer. Here are some reasons why Students worldwide choose us.</p>
              <div class="row row-15">
                <div class="col-xl-6 wow fadeInUp" data-wow-delay=".2s">
                  <div class="box-default">
                    <div class="box-default-title">Innovative Solutions</div>
                    <p class="box-default-description">Our services and solutions are built on business innovations.</p><span class="box-default-icon novi-icon icon-lg mercury-icon-lightbulb-gears"></span>
                  </div>
                </div>
                <div class="col-xl-6 wow fadeInUp" data-wow-delay=".2s">
                  <div class="box-default">
                    <div class="box-default-title">Strategic Thinking</div>
                    <p class="box-default-description">We work strategically to forge the best path for your business.</p><span class="box-default-icon novi-icon icon-lg mercury-icon-target-2"></span>
                  </div>
                </div>
                <div class="col-xl-6 wow fadeInUp" data-wow-delay=".3s">
                  <div class="box-default">
                    <div class="box-default-title">Experienced Team</div>
                    <p class="box-default-description">We employ the best consultants with more than 10 years of experience.</p><span class="box-default-icon novi-icon icon-lg mercury-icon-user"></span>
                  </div>
                </div>
                <div class="col-xl-6 wow fadeInUp" data-wow-delay=".3s">
                  <div class="box-default">
                    <div class="box-default-title">Creative Approach</div>
                    <p class="box-default-description">Every project we work on is based on the creative solutions of any issues.</p><span class="box-default-icon novi-icon icon-lg mercury-icon-partners"></span>
                  </div>
                </div>
              </div>
              <a class="button-width-190 button-primary button-circle button-lg button offset-top-30" href="/interview_exp">see interview experiences</a>
            </div>
          </div>
        </div>
        <div class="image-left-side wow slideInRight" data-wow-delay=".5s"><img src="images/interview.jpg" alt="" width="636" height="240"/>
        </div>
      </section>
      <!--Counters-->
      <section class="section bg-image-2">
        <div class="container section-md">
          <div class="row row-30 text-center">
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="counter-classic">
                <div class="counter-classic-number"><span class="icon-lg novi-icon offset-right-10 mercury-icon-time"></span><span class="counter text-white" data-speed="2000">2021</span>
                </div>
                <div class="counter-classic-title">Year of Establishment</div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="counter-classic">
                <div class="counter-classic-number"><span class="icon-lg novi-icon offset-right-10 mercury-icon-folder"></span><span class="counter text-white" data-speed="2000">54</span>
                </div>
                <div class="counter-classic-title">Successful Projects</div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="counter-classic">
                <div class="counter-classic-number"><span class="icon-lg novi-icon offset-right-10 mercury-icon-users"></span><span class="counter text-white" data-speed="2000">45</span><span class="symbol text-white">+</span>
                </div>
                <div class="counter-classic-title">Candidates Placed</div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="counter-classic">
                <div class="counter-classic-number"><span class="icon-lg novi-icon offset-right-10 mercury-icon-group"></span><span class="counter text-white" data-speed="2000">15</span>
                </div>
                <div class="counter-classic-title">Team Members</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!--Testimonials-->
      <section class="section section-md bg-gray-lighten">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-10">
              <div class="section-name wow fadeInRight text-center" data-wow-delay=".2s">testimonials</div>
              <h3 class="wow fadeInLeft text-capitalize text-center" data-wow-delay=".3s">What People Say<span class="text-primary"> About Us</span></h3>
              <div class="owl-carousel review-carousel" data-items="1" data-sm-items="1" data-md-items="1" data-lg-items="1" data-xl-items="1" data-xxl-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="true" data-autoplay="false">
                <div class="item">
                  <div class="item-preview wow fadeInDown" data-wow-delay=".2s"><img src="https://bit.ly/3zSeBCT" alt="" width="216" height="108"/>
                  </div>
                  <div class="item-description wow fadeInUp" data-wow-delay=".3s">
                    <p>I was impressed by the quality of what your specialists did. They quickly found out what was the main problem of my company and helped me form a correct strategy, which worked perfectly and set my business on the right path.</p>
                    <div class="item-subsection"><span class="item-subsection-title devider-left">Sourav Goel</span><span>Regular Student</span></div>
                  </div>
                </div>
                <div class="item">
                  <div class="item-preview wow fadeInDown" data-wow-delay=".2s"><img src="https://bit.ly/3xcXk5J" alt="" width="216" height="108"/>
                  </div>
                  <div class="item-description wow fadeInUp" data-wow-delay=".3s">
                    <p>I appreciate what you’ve done to help my small company develop and thrive in that market niche that we specialize in. Your business consulting experts are the best in the whole industry and I’m going to recommend you to my partners!</p>
                    <div class="item-subsection"><span class="item-subsection-title devider-left">Jatin Dhingra</span><span>Regular Client</span></div>
                  </div>
                </div>
                <div class="item">
                  <div class="item-preview wow fadeInDown" data-wow-delay=".2s"><img src="images/user-3-216x216.jpg" alt="" width="216" height="108"/>
                  </div>
                  <div class="item-description wow fadeInUp" data-wow-delay=".3s">
                    <p>My cooperation with your team helped me understand that you really care about your clients – it was proved by a lot of positive reviews already – and that's why I chose you. Thank you for a great job, you are true professionals!</p>
                    <div class="item-subsection"><span class="item-subsection-title devider-left">Anthony Parker</span><span>Regular Client</span></div>
                  </div>
                </div>
                <div class="item">
                  <div class="item-preview wow fadeInDown" data-wow-delay=".2s"><img src="images/user-4-216x216.jpg" alt="" width="216" height="108"/>
                  </div>
                  <div class="item-description wow fadeInUp" data-wow-delay=".3s">
                    <p>Two years after СonsultBiz’s involvement, we are remarkably successful and the leader in served markets. This brought industry knowledge, best practices, and real-world solutions to the intricate challenges we faced.</p>
                    <div class="item-subsection"><span class="item-subsection-title devider-left">Jennifer Coleman</span><span>Regular Client</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <%- include('partials/footer'); -%>

  </body>
</html>